
  .login {
    width: 60vh;
    margin: 30px;
    margin-right:50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: large;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);;
    
  }
  .login-form {
    margin-top: 0px;
    padding: 20px 40px;
  }
  .login input {
    padding: 10px;
    margin: 10px;
    left: 0;
    width: 80%;
    border: none;
    background-color: none;
  }
  
  label {
    float: left;
    width: 100%;
 font-weight: bolder;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
  }
  .error {
    display: block;
    font-weight: bold;
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
  }
  button {
    text-align: center;
    font-size: 18px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 20px 20px 20px 0px;
    border: none;
    background-color: white;

  }
  button:hover{
      font-weight: bolder;
  }
  
  input:focus {
    border-bottom:  solid 3px #CAE4DB;;
    outline: none;
  }
  .login p{
    background-color: none;
    height: 30px;
    color: black;
    padding: 10px;
    margin-left:20px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: large;
  }

  .login p:hover{
      color: rgb(77, 73, 73);
    
  }
  .login h1{
padding-top: 20px;
  }

  .button_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logOrSign p:hover{
    color: rgb(5, 5, 5);
    background-color: transparent;
    cursor: pointer;
    font-weight: bolder;
  }

  .form_wrap{
      display: flex;
      gap:40%;
    margin: auto 20%;
  }
  .svg img{
      transform:scale(0.7);
  }
  .svg{
      width:200px ;
  }
