
.grid{
  display: flex;
  flex-wrap:  wrap;
  gap: 30px;
  justify-content: center;
}

.navbar{
  display: flex ;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
.links{
    display: flex;
    color: black

}
.links li{
    padding-left: 20px;
   
}
.links a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.links a:hover{
  color: rgb(170, 123, 123);
  
}
.Logo h5{
    font-size: 30px ;
    color: #483434;
    
}
.Logo h5:hover{
  color:#ffff;
}
li svg{
  color: white;
  transform: scale(2);
  margin-left:10px;
}
.badget1{
  background-color: red;
  opacity: 0.6;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  right: 0;
  top: 0;
  text-align: center;
  font-weight: bolder;
}
.badget2{
  background-color: red;
  opacity: 0.6;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  right: 40px;
  top: 0;
  text-align: center;
  font-weight: bolder;
}